@use '../../util/variables' as *;

.measure-carousel {
  width: 100%;
  position: relative;
  margin-top: 1rem;
}

.measure-track {
  display: flex;
  transition: transform 0.3s ease;
  will-change: transform;
}

.measure-slide {
  flex-shrink: 0;
}