@use '../../util/variables' as *;

.note-plopper-palette {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.palette-section {
  display: flex;
  gap: 0.75rem;
  flex-direction: column;
}

.palette-section-label {
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.25rem;
}

.palette-section-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.note-plopper-tool-btn {
  padding: 0.25rem 0.8rem;
  font-size: 0.875rem;
  border-radius: 10px;
  cursor: pointer;

  &.active {
    background-image: linear-gradient(to right top, #198694, #123940, #193e46, #20444b, #439bac);
    border: 1px solid #439bac;
    color: #fff;
  }
}