@use '../../util/variables' as *;
@use './_ToolPalette';
@use './_Staff';
@use './_MeasureCarousel';
@use './_MeasureIndicator';
@use './_MeasureNavigation';
@use './_MeasureControls';
@use './_NotationsBar';
@use './_NoteCarousel';

.note-plopper-tool-panel {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem;
  border: 1px solid #424242;
  border-radius: 1rem;
}