@use 'variables' as *;

* {
  box-sizing: border-box;
}

:root {
  font-size: 16px;
  font-family: $font-family-base;
  font-weight: $font-weight-normal;
  line-height: $line-height-base;
  color: $color-text-dark;
  background-color: $color-background-darker;
}

#root {
  width: 100%;
}

a {
  font-weight: $font-weight-normal;
  color: $color-primary;
  text-decoration: inherit;

  &:hover {
    color: $color-primary-hover;
  }
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  overflow-x: clip;
}

button {
  border-radius: $border-radius-base;
  border: 1px solid #333;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  font-weight: $font-weight-normal;
  font-family: inherit;
  background-color: $color-button-bg-dark;
  transition: border-color $transition-duration;
  color: $color-text-dark;
  cursor: pointer;

  &:hover {
    border-color: #439bac;
  }

  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}